body {
    font-family: Arial, serif;
    background-color: #CFD0CF;
}

h1 {
    margin: 40px auto;
    padding: 0 0 0 0;

    color: #434344;
    line-height: 47px;
    text-align: center;
    font-size: 42px;
    /*outline: 1px solid #ff0000;*/
}

/*container*/
.field {
    width: max-content;
    margin: 0 auto;

    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap: 25px;

    -webkit-perspective: 600px;
    -moz-transform: perspective(600px);
    perspective: 600px;

    transform-style: preserve-3d;

    position: relative;
}

/*FLIPPER*/
.field__card {
    width: 130px;
    height: 130px;

    position: relative;

    transform-style: preserve-3d;
    transition: transform .7s linear;
}


.card_front, .card_back {
    width: 100%;
    height: 100%;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

    position: absolute;
    top: 0;
    left: 0;
    text-rendering: auto;
}

.card_back {
    box-sizing: border-box;

    border: 5px solid rgb(255, 255, 255);
    border-radius: 9px;
    background: linear-gradient(45deg, #22AB93, #19668D);
}

.card_front {
    border-radius: 9px;

    transform: rotateY(-180deg);
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card_emoji {
    font-size: 85px;
    width: min-content;
}

.rotateY180 {
    transform: rotateY(180deg);
}

